@import '_config';
@import '_menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: $text-color;
    height: 100%;
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 4rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 0.2), 0.2);
    }
}

a {
    color: $text-color;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 40px);

    .icons {
        margin-top: 1rem;
        
        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut;
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bio bio bioimage'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        width: 150px;
        opacity: 0.9;
        margin: auto;
        border-radius: 0%;
        border: $secondary-color 1px solid;
        box-shadow:10px 0 10px $primary-color; 
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.2rem;
    }
    
    .job-1 {
        grid-area: job1;
    }
    
    .job-2 {
        grid-area: job2;
    }
    
    .job-3 {
        grid-area: job3;
    }
    
    .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
        box-shadow:10px 0 10px $primary-color; 

        &:hover {
            opacity: 0.6;
            border-color: #925851;
            @include easeOut;
        }
    }
 
}


#main-footer {
    text-align: center;
    padding: 0.5rem 0 0 0.5rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 40px;
}

@import '_mobile';

